
<section class="section section--white" id="section-7">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last">
      <h1 class="h1 block-header">Arkiv</h1>
    </heading>
  </div>

<!-- ToDo: add sub-section--border -->
  <% @archives.each do |show| %>
    <% if !show.display %>
      <article class="sub-section">
        <div class="grid clearfix">
          <div class="column column--4 column--last md-full-width typography">
            <%= image_tag show.avatar.image, alt: show.title, class: "soft-edges full-width"  if (show.avatar && show.avatar.image? ) %>
          </div>
          <div class="column column--8 column--first md-full-width typography">
            <heading>
              <h1 class="h1"><%= show.title %></h1>
            </heading>
            <p><%= show.description %></p>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</section>

