

      <!-- SECTION 7 -->
      <section class="section section--white" id="section-7">
        <div class="grid clearfix">
          <heading class="column column--12 column--first column--last">
            <h1 class="h1 block-header">Arkiv</h1>
          </heading>
        </div>


        <!-- Föreställning 1 -->
        <article class="sub-section">
          <div class="grid clearfix">
            <div class="column column--4 column--last typography">
              <img class="soft-edges full-width" src="http://placekitten.com/480/280" alt="">
            </div>
            <div class="column column--8 column--first typography">
              <heading>
                <h1 class="h1">Detektiv trollet</h1>
              </heading>
              <p> en barn teater från 3 år och uppåt. Var med och lös mysteriet  med detektivtrollet. En knasig historia och Bäverns bortsprungna ben och råddjurets bortappade ärr mm. En musikteater där barnen är med och löser fallet.
  Föreställningar under februari – maj</p>
            </div>
          </div>
        </article>

        <!-- Föreställning 2 -->
        <article class="sub-section sub-section--border">
          <div class="grid clearfix">
            <div class="column column--4 column--last typography">
              <img class="soft-edges full-width" src="http://placekitten.com/480/300" alt="">
            </div>
            <div class="column column--8 column--first typography">
              <heading>
                <h1 class="h1">Vandringsteater</h1>
              </heading>
              <p> En familjeföreställning där publiken vandrar med en skådespelare och under olika platser får scener uppspelade. Ett stort öde vilar över staden och det är du som publik som listar ut gåtan och bestämmer slutet.</p>
            </div>
          </div>
        </article>

      </section>

