<!--     <section class="section section--white" id="section-4">
        <div class="grid clearfix">
          <heading class="column column--12 column--first column--last md-full-width">
            <h1 class="h1 block-header">Boka biljett</h1>
          </heading>
        </div>
        <div class="grid clearfix">
          <div class="column column--4 column--last md-full-width typography">
            <div class="book book--1">
              <p>Skicka ett mail eller ring för att säkerhet ställa en plats</p>
            </div>
          </div>
          <div class="column column--4 column--last md-full-width typography">
            <div class="book book--2">
              <p>Betala via swish eller bank överföreing. <b>Viktigt</b> skriv din <b>email, namn, telefonummer</b> i meddalande raden</p>
            </div>
          </div>
          <div class="column column--4 column--last md-full-width typography">
            <div class="book book--3">
              <p>När betalningen är bekräftad får du biljett tillbaka via mail. Var uppmärksam på att det kan ta några dagar.</p>
            </div>
          </div>
        </div>
      </section> -->

<section class="section section--white" id="section-4">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last md-full-width">
      <h1 class="h1 block-header">Boka biljett</h1>
    </heading>
  </div>
  <div class="flex">
    <div class="flex-child typography">
      <div class="book book--1">
        <p>Skicka ett mail eller ring för att säkerhet ställa en plats</p>
      </div>
    </div>
    <div class="flex-child typography">
      <div class="book book--2">
        <p>Betala via swish eller bank överföreing. <b>Viktigt</b> skriv din <b>email, namn, telefonummer</b> i meddalande raden</p>
      </div>
    </div>
    <div class="flex-child typography">
      <div class="book book--3">
        <p>När betalningen är bekräftad får du biljett tillbaka via mail. Var uppmärksam på att det kan ta några dagar.</p>
      </div>
    </div>
  </div>
</section>