<section class="section section--white" id="section-4">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last md-full-width">
      <h1 class="h1 block-header">Boka biljett</h1>
    </heading>
  </div>
  <div class="flex">
    <div class="flex-child typography">
      <div class="book book--1">
        <p><strong>Skicka ett mail</strong> för att säkerställa plats. Skriv ditt <strong>namn</strong> och <strong>telefon nr</strong>, <strong>hur många</strong> vuxna respektive barn.</p>
      </div>
    </div>
    <div class="flex-child typography">
      <div class="book book--2">
        <p>Du kommer att få <strong>bekräftelse</strong> på din bokning <strong>via mail</strong>. Bekräftelsen skickas manuellt därav kan det dröja en viss tid. Bekräftelsen tar du med till föreställningen och visar upp.</p>
      </div>
    </div>
    <div class="flex-child typography">
      <div class="book book--3">
        <p><strong>Betalning sker på plats, kontant</strong>. Kassan öppnar <strong>30 min innan föreställning</strong> och stänger 5 min innan föreställning. (Tyvärr kan vi bara ta emot kontant betalning just nu). <br><br><strong>VARMT VÄLKOMNA!</strong></p>
      </div>
    </div>
  </div>
</section>
