
<section class="section section--white section--co_operate" id="section-5">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last md-full-width">
      <h1 class="h1 block-header"><%= @co_operation.title %></h1>
    </heading>
  </div>
  <div class="grid clearfix">
    <div class="column column--4 column--first md-half-width image-wrapper">
    <%= image_tag asset_url("placeholder.png"), class: "soft-edges full-width" %>
    </div>
    <div class="column column--4 column--last md-half-width typography">
      <p><%= @co_operation.column_1 %></p>
    </div>
    <div class="column column--4 column--last md-half-width typography">
      <p><%= @co_operation.column_2 %></p>
    </div>
  </div>
</section>
