<section class="section section--white" id="section-6">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last">
      <h1 class="h1 block-header"><%= @course.title %></h1>
    </heading>
  </div>
  <div class="grid clearfix">
    <div class="column column--6 column--first typography">
      <p><%= @course.column_1 %></p>
    </div>
    <div class="column column--6 column--last typography">
      <p><%= @course.column_1 %></p>
    </div>
  </div>
</section>