<section class="section section--white" id="section-6">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last">
      <h1 class="h1 block-header">Teater kurser (för framtiden)</h1>
    </heading>
  </div>
  <div class="grid clearfix">
    <div class="column column--6 column--first typography">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
    </div>
    <div class="column column--6 column--last typography">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ullam, vel itaque sit recusandae totam?</p>
    </div>
  </div>
</section>