<footer class="footer">
  <div class="footer__content">
    <div class="vertical-list clearfix">
      <div class="vertical-list__item theme-font">
        <span class="lable">Kontakt:</span>
      </div>
      <div class="vertical-list__item">

        <div class="texticon clearfix">
          <div class="texticon__icon">
            <i class="glyphicon glyphicon-envelope"></i>
          </div>
          <div class="texticon__text">
            teaterpagang@gmail.com
          </div>
        </div>
      </div>
      <div class="vertical-list__item">
        <div class="texticon clearfix">
          <div class="texticon__icon">
            <i class="glyphicon glyphicon-earphone"></i>
          </div>
          <div class="texticon__text">
            070 327 982 23
          </div>
        </div>
      </div>
      <div class="vertical-list__item">
        <div class="texticon clearfix">
          <div class="texticon__icon">
            <i class="glyphicon glyphicon-time"></i>
          </div>
          <div class="texticon__text">
            Torsdag: 18-22
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>