
<div class="header clearfix">
  <div class="header__content">
    <div class="logo">Teater På Gång</div>
    <nav class="menu">
      <ul class="menu__list clearfix">
        <% if @shows.any? %>
          <li class="menu__item js-scroll-link" data-target="section-1">
            Föreställingar
            <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
          </li>
        <% end %>
        <% if @abouts && @abouts.on_page %>
          <li class="menu__item js-scroll-link" data-target="section-3">
            Om Teatern
            <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
          </li>
        <% end %>
        <li class="menu__item js-scroll-link" data-target="section-4">
          Boka
          <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
        </li>
        <% if @co_operation && @co_operation.on_page %>
          <li class="menu__item js-scroll-link" data-target="section-5">
            Sammarbete
            <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
          </li>
        <% end %>
        <% if @course && @course.on_page %>
          <li class="menu__item js-scroll-link" data-target="section-6">
            Teater kurser
            <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
          </li>
        <% end %>
        <% if @archives.any? %>
          <li class="menu__item js-scroll-link" data-target="section-7">
            Arkiv
            <i class="glyphicon glyphicon-menu-down menu__arrow"></i>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>