
<div class="header clearfix">
  <div class="logo">Teater På Gång</div>
  <nav class="menu">
    <ul class="menu__list clearfix">
      <li class="menu__item js-scroll-link" data-target="section-1">Föreställingar</li>
      <li class="menu__item js-scroll-link" data-target="section-3">Om Teatern</li>
      <li class="menu__item js-scroll-link" data-target="section-4">Boka</li>
      <li class="menu__item js-scroll-link" data-target="section-5">Sammarbete</li>
      <li class="menu__item js-scroll-link" data-target="section-6">Teater kurser</li>
      <li class="menu__item js-scroll-link" data-target="section-7">Arkiv</li>
    </ul>
  </nav>
</div>