
<% if prices %>
  <div class="booking-price">
    <% prices.each do |price| %>
      <div class="price">
      <% if price.primary  %>
        <span class="price__value"><%= price.price %>:-</span>
      <% else %>
        <span class="price__value price__value--small"><%= price.price %>:-</span>
      <% end %>
        <span class="price__description"><%= price.description %></span>
      </div>
    <% end %>
    <% if prices.none? %>
      <p>Inga priser satta än</p>
    <% end %>
  </div>
<% end %>