

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 class="h1">Editing About</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <%= link_to 'Show About', abouts_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>




