
<%= render 'admin/error_messages', obj: @course %>

<div class="">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 class="h1">Editing Course</h1>
    </div>
    <div class="col-md-12">
      <%= render 'form' %>
      <div class="form_group">
        <%= link_to 'Show Courses', courses_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>


