
$navbar-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

.body{
  padding: 12px 48px;
  background-color: #000;
}

.admin-container{
  background-color: #fff;
  position: relative;
  padding: 24px;
}



.flex {
  display: flex;
}
.clear-list{
  list-style: none;
  margin: 0;
  padding: 0;
}