html,body{ background-color: #5a1f0d; }
.body{
  /*background-image: url('/Users/rickarddahlstrom/web-projects/Anja/img/back_22.jpg');
  background-size: cover;*/
  padding-bottom: 100px;

  background: rgb(61,39,12);
  /*background: -moz-linear-gradient(top, #000 0%, #c78637 48%, rgba(0,0,0,1) 100%);*/
  background: -webkit-linear-gradient(top, #000 0%,#c78637 48%, rgba(0,0,0,1) 100%);
  /*background: linear-gradient(to bottom, #000 0%, #c78637 48%, rgba(0,0,0,1) 100%);*/

  background: linear-gradient(to bottom, #5a1f0d 0%, #ce8226 48%, rgba(0,0,0,1) 100%);

  /*background: linear-gradient(to bottom, rgb(56, 22, 2) -25%, rgb(208, 107, 20) 50%, rgb(56, 22, 2) 113%)*/

}


.body:before{
  content: " ";
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(left, #b1441d 0%, rgba(216, 182, 14, 0.65) 48%%);
  background: -webkit-linear-gradient(left, #b1441d 0%,rgba(216, 182, 14, 0.65) 48%%);
  background: linear-gradient(to right, #b1441d 0%, rgba(216, 182, 14, 0.65) 48%);
}


.h1{
  font-size: 20px;
  font-weight: bold;
  color: #166c80;
  margin: 0 0 12px;
}
.h2{}
.h3{
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.block-header{
  display: block;
  border-bottom: 1px dashed #a0ccd6;
  padding-bottom: 2px;
}

.link{
  color: #4848ff;
  text-decoration: none;
  position: relative;
}
.link:after{
  content: " ";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #4848ff;
  left: 0;
  bottom: 0px;
  right: 0;
}

.page-container{

}

.header{
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
  /*background-color: #fff;*/
  margin-bottom: 0;
  position: relative;
}
.logo{
  float: left;
  font-size: 24px;
  color: white;
}
.menu{
  float: right;
}
.menu__list{
  list-style: none;
  margin: 0;
}
.menu__item{
  float: left;
  padding: 6px 6px;
  /*border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.3);*/
  margin-left: 6px;
  font-size: 16px;
  color: white;
}
.menu__item:hover{
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.section{
  max-width: 1000px;
  margin: 0 auto 12px;
  padding: 20px 20px;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}
.section--white{
  background-color: #fff;
}
.section--gray{
  background-color: gray;
}
/*@-webkit-keyframes anmFade {
  0% { background-color: rgba(255,255,255,0.0) }
  10% { background-color: rgba(255,255,255,0.9) }
  70% { background-color: rgba(255,255,255,0.9) }
  100% { background-color: rgba(255,255,255,0.0) }
}
@-o-keyframes anmFade {
  0% { background-color: rgba(255,255,255,0.0) }
  10% { background-color: rgba(255,255,255,0.9) }
  70% { background-color: rgba(255,255,255,0.9) }
  100% { background-color: rgba(255,255,255,0.0) }
}
@-moz-keyframes anmFade {
  0% { background-color: rgba(255,255,255,0.0) }
  10% { background-color: rgba(255,255,255,0.9) }
  70% { background-color: rgba(255,255,255,0.9) }
  100% { background-color: rgba(255,255,255,0.0) }
}
@keyframes anmFade {
  0% { background-color: rgba(255,255,255,0.0) }
  10% { background-color: rgba(255,255,255,0.9) }
  70% { background-color: rgba(255,255,255,0.9) }
  100% { background-color: rgba(255,255,255,0.0) }
}
.fadeOut:before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: anmFade 4s forwards;
}*/


@-webkit-keyframes anmFade {
  0% { opacity: 1 }
  10% { opacity: 0.6 }
  70% { opacity: 0.6 }
  100% { opacity: 1 }
}
@-o-keyframes anmFade {
  0% { opacity: 1 }
  10% { opacity: 0.6 }
  70% { opacity: 0.6 }
  100% { opacity: 1 }
}
@-moz-keyframes anmFade {
  0% { opacity: 1 }
  10% { opacity: 0.6 }
  70% { opacity: 0.6 }
  100% { opacity: 1 }
}
@keyframes anmFade {
  0% { opacity: 1 }
  10% { opacity: 0.6 }
  70% { opacity: 0.6 }
  100% { opacity: 1 }
}
.fadeOut{
  animation: anmFade 4s forwards;
}

.media-content{

}
.left{
  float: left;
}
.right{
  float: right;
}

.soft-edges{
  border-radius: 5px;
}
.round{
      border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.media__profile{
  width: 100%;
}


.media-content__media{

}
.media-content__text{

}



.typography{
  font-size: 16px;
  color: #555;
  font-family: 'Helvetica'
}

.typography p{
  margin-bottom: 12px;
}
.typography p:first-child{
  margin-top: 0;
}


.grid{
  width: 960px;
}

.grid .column:first-child{
  padding-left: 0;
}
.grid .column:last-child{
  padding-right: 0;
}

.column{
  padding-right: 6px;
  padding-left: 6px;
  float: left;
}
.column--1{
  width: calc((960px/12)*1);
}
.column--2{
  width: calc((960px/12)*2);
}
.column--3{
  width: calc((960px/12)*3);
}
.column--4{
  width: calc((960px/12)*4);
}
.column--5{
  width: calc((960px/12)*5);
}
.column--6{
  width: calc((960px/12)*6);
}
.column--7{
  width: calc((960px/12)*7);
}
.column--8{
  width: calc((960px/12)*8);
}
.column--9{
  width: calc((960px/12)*9);
}
.column--10{
  width: calc((960px/12)*10);
}
.column--11{
  width: calc((960px/12)*11);
}
.column--12{
  width: calc((960px/12)*12);
}
.column--first{

}

div,
section,
footer,
dl{ box-sizing: border-box; }
.full-width{
  width: 100%;
}



.sub-section{
  margin-bottom: 12px;
}
.sub-section:last-child{
  margin-bottom: 0;
}
.sub-section--border{
  border-top: 1px dashed #a0ccd6;;
  padding-top: 12px;
}

.calendar{
  padding: 6px;
  background-color: rgba(59, 165, 189, 0.32);
  border: 1px solid #a0ccd6;
}
/*.calendar__icon{
  width: 24px;
  float: left;
  margin-right: 24px;
}*/

.description-list{
  width: 50%;
  margin: 0;
  font-size: 14px;
  float: left;
}
/*remove?*/
.description-list--highlight{

}
.description-term,
.description-data{
  float: left;
  margin-bottom: 1px;
}
.description-term:last-child,
.description-data:last-child{
  margin-bottom: 0;
}
.description-term{
    float: left;
    clear: left;
    width: 120px;
    background: rgb(255, 255, 255);
    padding: 0 12px;
    color: #166c80;
    line-height: 22px;
}

.description-data{
  float: left;
  margin: 0;
  line-height: 0;
}


.booking-price{
    float: right;
    width: 50%;
}
.price{
      font-size: 12px;
    background: rgb(255, 255, 255);
    padding: 4px 4px;
    border-top: 1px solid #a0ccd6;
    color: #166c80;
}
.price:first-child{
 border-top: none;
}
.price__value{
  font-size: 14px;
  color: #016501;
  display: inline-block;
  width: 42px;
  font-weight: bold;
}
.price__value--small{
  font-size: 12px;
}
/*.price-note{
  font-size: 12px;
  color: #b27633;
}*/

.font-green{
  color: green;
}
.font-red{
  color: #9a1717;
}
.font-orange{
  color: #b27633;
}
.font-bold{
  font-weight: bold;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.footer__content{
  width: 1000px;
  margin: 0 auto;
  padding: 12px 24px;
}

.vertical-list{

}
.vertical-list__item{
  float: left;
  margin-right: 48px;
}

.lable{
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  height: 24px;
}

.icon-36{
  font-size: 36px;
}
.icon-24{
  font-size: 24px;
}
.icon-12{
  font-size: 12px;
}

.texticon{
  display: table-cell;
  vertical-align: middle;
  height: 24px;
}

.texticon--18{
  height: 18px;
}
.texticon--18 .texticon__icon,
.texticon--18 .texticon__text{
  font-size: 12px;
  line-height: 22px;
}
.texticon__icon,
.texticon__text{
  float: left;
}
.texticon__icon{
  height: 16px;
  width: 16px;
  margin-right: 6px;
}
.texticon__text{
  font-size: 12px;
}





.profile{

}
.profile__icon,
.profile__text{
  float: left;
}
.profile__icon{
  display: table-cell;
  margin-right: 24px;
  position: absolute;
}
.profile__text{
  display: table;
  height: 100px;
  padding-left: 124px;
  width: 650px;
}

.profile__text p{
  display: table-cell;
  vertical-align: middle;
}






.icon-button{
  padding: 0px 6px;
  border-radius: 0;
  display: inline-block;
}

.icon-button--red{
  background-color: #bb1c00;
  color: #fff;
}
.icon-button--red-stroke{
  background-color: #fff;
  color: #bb1c00;
}
.icon-button--green{
 background-color: #016501;
 color: #fff;
}


.price-button{
    min-width: 56px;
}



.book{
  position: relative;
  padding: 6px;
  background-color: rgba(59, 165, 189, 0.32);
  border: 1px solid #a0ccd6;
  color: #166c80;
  margin: 12px 0 0 16px;
}
.book:before{
  content: "0";
  position: absolute;
  top: -16px;
  left: -16px;
  width: 28px;
  height: 28px;
  border: 4px solid #c0e2ea;
  background-color: #166c80;
  box-sizing: border-box;
  display: block;
  text-align: center;
  line-height: 20px;
  color: white;
  font-size: 14px;
  border-radius: 50%;
}
.book--1:before{
  content: "1";
}
.book--2:before{
  content: "2";
}
.book--3:before{
  content: "3";
}
