<div class="">

  <div class="row">
    <div class="col-md-12">
      <h1>Lista av alla pjäser</h1>
      <p>Blåa pjäser är actuella pjäser och vita är listade i arkiv</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
      <!-- ToDo: toggle the active class on one line -->
      <% @shows.each do |show| %>
          <% if show.display  %>
          <%= link_to show.title, show_path( show ), class: "list-group-item active" %>
          <% else %>
          <%= link_to show.title, show_path( show ), class: "list-group-item" %>
          <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Skapa ny Pjäs', new_show_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>

